extends layout

block content
  head
    title Órdenes de Trabajo
    script.
      document.addEventListener("DOMContentLoaded", () => {
        const searchInput = document.getElementById("searchInput");
        if (searchInput) {
          const tableRows = document.querySelectorAll("tbody tr");

          searchInput.addEventListener("input", (event) => {
            const query = event.target.value.toLowerCase();
            tableRows.forEach((row) => {
              const cells = row.querySelectorAll("td");
              const match = Array.from(cells).slice(1).some(cell => 
                cell.textContent.toLowerCase().includes(query)
              );
              row.style.display = match ? "" : "none";
            });
          });
        }
      });

  .container-fluid
    h1 Órdenes de Trabajo
    .mb-3
      input#searchInput.form-control(type="text" placeholder="Buscar por nombre del paciente o DNI")

    table.table.table-striped.mt-4
      thead
        tr
          th #ID
          th Paciente
          th DNI
          th Estado
          th Fecha Creación
          th Fecha Entrega
          th Acción
      tbody
        each orden in ordenes
          tr
            td= orden.id_Orden
            td= orden.paciente ? `${orden.paciente.nombre} ${orden.paciente.apellido}` : "Sin asignar"
            td= orden.dni
            td= orden.estado
            td= orden.Fecha_Creacion ? new Date(orden.Fecha_Creacion).toLocaleDateString('es-AR') : "No disponible"
            td= orden.Fecha_Entrega ? new Date(orden.Fecha_Entrega).toLocaleDateString('es-AR') : "No disponible"
            td
              .btn-group
                button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                  | Acciones
                ul.dropdown-menu
                  
                  li
                    a.dropdown-item(href=`/orden/muestras/ver/${orden.id_Orden}`) Ver Muestras
                  
                  
                  if rol !== 'recepcionista'
                    li
                      a.dropdown-item(href=`/orden/registrarResultados/${orden.id_Orden}`) Analizar

    // Paginación
    if totalPages > 1
      nav.mt-4
        ul.pagination
          each page in Array(totalPages).fill().map((_, i) => i + 1)
            li(class=(currentPage == page ? "page-item active" : "page-item"))
              a.page-link(href=`?page=${page}`) #{page}
  a.btn.btn-secondary.mt-4(href="javascript:history.back()") Volver