extends layout

block content
  title Ordenes informadas
  
  //- AQUÍ SE CAMBIÓ .container POR .container-fluid
  .container-fluid
    h1.text-center.mt-4 Órdenes Informadas

    if ordenes && ordenes.length > 0
      table.table.table-striped.mt-4
        thead
          tr
            th #ID Orden
            th Fecha Creación
            th Fecha Entrega
            th Nombre del Paciente
            th Apellido del Paciente
            th DNI
            th Acciones
        tbody
          each orden in ordenes
            tr
              td= orden.OrdenID
              td= orden.FechaCreacion || "No disponible"
              td= orden.FechaEntrega || "No disponible"
              td= orden.NombrePaciente
              td= orden.ApellidoPaciente
              td= orden.DNIPaciente
              td
                //- AQUÍ SE AGRUPARON LOS BOTONES EN UN MENÚ DESPLEGABLE
                .btn-group
                  button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                    | Acciones
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href=`/registrarResultados/${orden.OrdenID}`) Modificar
                    li
                      a.dropdown-item(href=`/generarPDF/${orden.OrdenID}` target="_blank") Imprimir
    else
      .row
        .col-lg-12.text-center
          p.text-muted No hay órdenes con estado "Informada" disponibles.